# PostgreSQL Database Connection
DATABASE_URL=postgresql://postgres:password@localhost:5432/yasmin_portal_db?schema=public

# App Metadata
NEXT_PUBLIC_APP_NAME=YASMIN - Yayasan Studi Migran Indonesia
NEXT_PUBLIC_APP_URL=http://localhost:3000
